@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    cursor: none;
}

body {
    width: 100%;
}

.photo-carousel {
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.carousel-item {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
    position: absolute;
    top: 0;
}

.snoop {
    background-image: url("../resources/snoop.jpg");
}

.aha {
    background-image: url("../resources/aha.jpg");
}

.cam {
    background-image: url("../resources/cam.jpg");
}

.pink {
    background-image: url("../resources/pink.jpeg");
}

.elvis {
    background-image: url("../resources/elvis.jpg");
}

.carousel-item.active {
    opacity: 1;
}

.overlap-content {
    z-index: 500;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centered-text > p {
    font-size: 160pt;
    color: white;
    text-decoration-thickness: 110%;
    text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
    1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    text-transform: uppercase;
}

.custom-cursor {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    z-index: 9999;
    pointer-events: none;
    transform: translate(-50%, -50%);
    background-color: #fff;
    mix-blend-mode: difference;
    animation: cursor-transition-reverse 0.7s ease;
}

.large {
    width: 45px;
    height: 45px;
    animation: cursor-transition 1s ease;
}

@keyframes cursor-transition {
    from {
        width: 25px;
        height: 25px;
    }

    to {
        width: 45px;
        height: 45px;
    }
}

@keyframes cursor-transition-reverse {
    from {
        width: 45px;
        height: 45px;
    }

    to {
        width: 25px;
        height: 25px;
    }
}

.make-noise-div {
    width: 190px;
    height: 110px;
    border-radius: 100%;
    border: 2px solid #CDF851;
    color: #CDF851;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(10deg);
    position: absolute;
    bottom: calc(50% - 80px - 17vh);
    right: 25%;
    transition: all 250ms ease;
}

.make-noise-div > span {
    font-size: 20pt;
    font-weight: 200;
    white-space: pre-wrap;
    line-height: 1.1;
    width: min-content;
    text-align: center;
}

.make-noise-div:hover {
    background-color: #CDF851;
    color: black;
}

.new-releases-container {
    background-color: #0F0E0E;
    width: calc(100% - 100px);
    min-height: 200px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.releases-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 3px solid white;
}

.releases-buttons > p {
    font-size: 38pt;
    font-weight: 400;
    color: white;
}

.arrow-left, .arrow-right {
    width: 45px;
    color: white;
    margin-left: 15px;
}

.arrow-left {
    transform: rotate(180deg);
}

.albums-carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 45px;
    overflow: hidden;
    scroll-behavior: smooth;    
}

.album {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
    position: relative;
}



.album-photo {
    width: 650px;
    height: 650px;
    transition: 200ms;
}

.album-photo:hover {
    border-radius: 30px;
}

.album-text {
    color: white;
    max-width: 630px;
    font-size: 30px;
    margin-top: 15px;
}

.orange {
    color: #D98100;
}

.photo-hover {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    background-color: #D98100;
    width: 650px;
    height: 650px;
    border-radius: 30px;
    opacity: 0;
    transition: 250ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.photo-hover:hover{
    opacity: 0.9;
}

.album:hover .album-photo {
    border-radius: 30px;
}

.album:hover .photo-hover {
    border-radius: 30px;
}

.photo-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.date {
    font-size: 22px;
    color: black;
}

.name-text {
    font-size: 48px;
    color: black;
    margin-top: 20px;
}

.stream-now p {
    font-size: 22px;
    color: black;
}

.stream-now {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid white;
    width: 100%;
    height: 180px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: 250ms;
}

.stream-now:hover {
    background-color: white;
}

.arrows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.music-videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.new-music-videos-text {
    background-color: #0F0E0E;
    border-top: 1px solid white;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.new-music-videos-text span {
    font-size: 24px;
    color: white;
    display: inline-block;
    padding-left: 0;
    animation: marquee 15s linear infinite;
    text-transform: uppercase;
}

@keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
}

.video-div {
    height: 550px;
    width: 100%;
    position: relative;
}

.video-div video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: 150ms;
}

.clr-pink {
    background-color: #ffa7bd;
}

.clr-orange {
    background-color: #D98100;
}

.clr-red {
    background-color: #ff4a23;
}

.video-div:hover .video-cover {
    opacity: 0;
}

.video-text-div {
    z-index: 100;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
    overflow: hidden;
}

.text-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    animation: marquee-rtl 25s linear infinite; 
}

.video-text-div .text-holder p {
    font-size: 30vmin;
    transition: 200ms;
    font-family: Panama;
    text-wrap: nowrap;
    
    
}

.song-name {
    font-family: "Bebas Neue", sans-serif;
    text-wrap: nowrap;
    max-height: 100%;
    font-size: 30vmin;
    transition: 200ms;
}

.video-div:hover .video-text-div .text-holder p, .video-div:hover .song-name {
    color: white;
}

.watch-now {
    background-color: #FCFDF8;
    transition: 200ms ease;
    font-size: 75px;
    color: black;
    padding: 20px;
    border-radius: 10%;
    border: none;
    margin-left: 25px;
    margin-right: 25px;
}

.watch-now:hover {
    background-color: #B0A580;
}

@keyframes marquee-rtl {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }

@media screen and (max-width: 900px) {
    .centered-text > p {
        font-size: 120pt;
    }
}

@media screen and (max-width: 500px) {
    .custom-cursor {
        display: none;
    }

    .centered-text > p {
        font-size: 50pt;
    }

    .make-noise-div {
        transform: rotate(-10deg);
    }

    .album-photo {
        width: 300px;
        height: 300px;
    }

    .photo-hover {
        width: 300px;
        height: 300px;
    }

    .releases-buttons p{
        font-size: 25px;
    }

    .arrow-left, .arrow-right {
        width: 40px;
        margin-left: 10px;
    }

    .releases-buttons {
        justify-content: space-between;
    }

    .new-releases-container {
        padding: 15px;
        width: calc(100% - 30px);
    }
}